[Unit]
Description=Refresh Quaker Display every 6 hours

[Timer]
OnBootSec=30sec
OnUnitActiveSec=6h
Unit=quaker-refresh.service

[Install]
WantedBy=timers.target
