[Unit]
Description=Quaker Quote Display for Inky Impression
After=multi-user.target

[Service]
Type=oneshot
User=pi
ExecStart=/home/$USER/quaker-display/venv/bin/python /home/$USER/quaker-display/quaker_display.py
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
